<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>document</title>
	<style>
		body {
		font-family: verdana;
		font-width: 400;
		background-image: url('https://cdn.pixabay.com/photo/2012/02/28/00/39/sunset-17665_960_720.jpg');
		background-repeat: no-repeat;
			background-size: cover; 		
	}

	h1 {color: rgba(66,134,244, 0.8);
	 text-shadow: 2px 2px rgb(0,0,0);}
		h3 {
			color: white;
		}
		.name {
			margin-left: 10%;
		}
		.comment {
			margin-left: 5%;
		}
		hr {
			background-color: #000;
		}
	</style>
</head>
<body>
	{{{body}}}
</body>
</html>