<<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
{{#each comment}}
	<h1>{{name}}</h1>
{{/each}}

{{#each opinions}}
	<h3>{{opinions}}</h3>
{{/each}}


</body>
</html>